<div class="SoloM">
<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/img/logo1.png" height="40" class="p-mr-2 imgMR ">
    </ng-template>
    <ng-template pTemplate="end">
        <div class="input-group w-70 HR SearchIP">
            <input type="search" class="form-control SearchIP" placeholder="Search..." aria-label="Search">
          </div>           
    </ng-template>
</p-menubar>
</div>

<div class="SoloM1">
    <p-menubar [model]="itemsM">
        <ng-template pTemplate="start">
            <img src="assets/img/logo1.png" height="40" class="p-mr-2 imgMR">
        </ng-template>
        <ng-template pTemplate="end">
            <div class="input-group w-70 HR">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-search" viewBox="0 0 16 16"></svg>
                </span>
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </div>           
        </ng-template>
    </p-menubar>
</div>



